/* Define the animation */
@keyframes highlightAnimation {
    0% {
        background-color: #ff634777;
        /* Initial color (Tomato) */
    }

    50% {
        background-color: #dfbf0789;
        /* Highlight color (Gold) */
    }

    100% {
        background-color: #ff63476b;
        /* Return to initial color */
    }
}

/* Define the animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation to the note */
.noteCard {
    animation: slideIn 2s ease forwards;
}

/* Apply the animation to the div */
.note {
    animation: highlightAnimation 3s ease-in-out infinite;
    /* 3s duration, ease-in-out timing function, infinite loop */
}

@keyframes highlightColorChange {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

/* Apply random animation to each card */
.card {
    height: fit-content;
    animation-duration: 3s;
    /* Duration for all animations */
    animation-iteration-count: infinite;
    /* Loop infinitely */
}

.card:hover {
    transform: scale(1);
    cursor: unset !important;
}



.highlight:nth-of-type(2) {
    animation-name: highlightColorChange;
}

.highlight:nth-of-type(3) {
    animation-name: highlightColorChange;
}

/* Add more nth-of-type selectors for more cards and animations */