/* .event-registration-description::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(247, 255, 255, 0);
}

.event-registration-description::-webkit-scrollbar-track {
  border-radius: 30px;
  background-color: rgba(247, 255, 255, 0);
}
.event-registration-description::-webkit-scrollbar-thumb {
  border-radius: 30px 30px 30px 30px;
  background-color: rgba(200, 155, 155, 0.645);
} */
