.gallery {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 200px;
  padding-bottom: 30px;
  padding-top: 40px;
  /* background: url("../../assets/main-bg.jpg"); */
  background-image: url("../../assets/bg8.png");
  /* background-color: transparent; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  transition: transform 1s;
}
.gallery .pics:hover {
  /* filter: opacity(0.8); */
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    padding: 0 100px;
  }
}

@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    padding: 0 10px;
  }
}
.chakra-modal__close-btn {
  color: red;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: "red";
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  background-color: "red";
}
::-webkit-scrollbar-thumb {
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(4, 145, 140);
}
