.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(15, 12, 12);
  background-color: #000000c5;
  /* filter: blur(5px); */
}
.navbar-menu .ul .li > .active {
  border-bottom: 1px solid #fe1212;
}
.navbar-logo {
  /* border-radius: 5px; */
  background-color: #b5f2fd00;
  /* display: none; */
}

.navbar-toggle-button {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-menu {
  font-weight: 500;
  color: #54cadd;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-menu.active {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: #54cadd;
  gap: 200rem;
  background-color: #35353900;
  padding: 1rem;
}

@media screen and (max-width: 1260px) {
  .Container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    justify-content: flex-start;
    /* background-color: #f2f2f2; */
  }
  .navbar-toggle-button {
    color: rgb(240, 240, 240);
    display: block;
    position: absolute;
    right: 20px;
    top: 23px;
    margin-left: auto;
  }
  .navbar-menu {
    gap: 1rem;
    width: 100%;
    display: none;
  }

  .navbar-logo {
    /* display: none; */
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .navbar-logo img {
    width: 400px;
  }
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}
