.footer_container {
    background-color: rgba(0, 0, 0, 0.442);
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
}

.card {
    color: #e1e1e1;
    padding: 1.5rem;
    border: 3px solid #00b2d2;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.15s;
    background-color: #032d3454;
    min-width: 300px;
    height: 150px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #032d34b6;
}

.card_logo_container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.card_logo_container p {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    transform: translateY(-3px);
}

.logo {
    width: 1.625rem;
}

.social_container {
    display: flex;
    width: 100%;
    color: white;
    margin-top: 1rem;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.social_logo_container img {
    width: 2rem;
}

.facebook {
    transform: scale(1.1);
}

.social_logo_container img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.rights {
    text-align: center;
    margin-top: 0.5rem;
    color: #bbb;
    font-size: 0.9rem;
}

.map-container {
    height: 100vh;
}